ADMIN_USERNAME=admin
ADMIN_PASSWORD=yourpassword
SESSION_SECRET=
ODOO_WEBHOOK_SECRET=
COUPON_EXPIRY_DAYS=30

DB_USER=
DB_PASSWORD=
MONGODB_URI=

BREVO_API_KEY=
EMAIL_FROM_ADDRESS=noreply@jalkimaku.fi
EMAIL_FROM_NAME=Jälkimaku
SITE_URL=https://jalkimaku.fi